<% item = item[0]%>
<tr>
  <td><%= item.DATA_INICIO_OT %></td>
  <td><%= item.codigoOT %></td>
  <td><%= item.serial %></td>
  <td><%= item.marca %></td>
  <td><%= item.modelo %></td>
  <td><%= item.currentOwner %></td>
  <td><a href="#" title="Remover Item" data-toggle="tooltip_removeItem" class="removeSerial"><i class="fa fa-minus" aria-hidden="true"></i></a></td>
</tr>