<div class="container-fluid">
	<div id="accordion" class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-5">
						<span>Reservas</span>
					</div>
					<div class="col-sm-6">
						<span><%=reserve.length%> slots reservadas</span>
					</div>
					<div class="col-sm-1">
					  <a class="accordion-toggle" data-toggle="collapse" href="#acordReservas"></a>
					</div>       
				</div>				
			</div>
			<div id="acordReservas" class="panel-collapse collapse">
				<div class="panel-body">
				<table id="tableReservas" class="table table-condensed table-striped">
					<thead>
						<% for (var j = 0; j < colName.length ; j++){ %>
					    <th><%= colName[j] %></th>
					 <% } %>
					 <th>Técnico</th>
					 <th>Opções</th>    
					</thead>   
					<tbody>
						<% for (var j = 0 ; j < reserve.length ; j++) { %>
					   	<%var slot%>
					    <tr id="<%=reserve[j].id%>|<%=reserve[j].slot_hora%>|<%=reserve[j].date%>|<%=reserve[j].tecnico_FK_id %>">              	
						    <% var tableKeys = Object.keys(reserve[j])%> 
						    <% for (var k = 2 ; k < colName.length+2 ; k++) { %>
						      <%if(k==2){%>
						        <td><%= timeSlot[reserve[j].slot_hora]%></td>
						      <%}else{%>
						        <%if(tableKeys[k].includes("FK_id")){%>
						          <td> <%= addTables[tableKeys[k]][reserve[j][tableKeys[k]]-1].name%></td>
						       	<%}else{%>
						          <td> <%= reserve[tableKeys[k]]%></td>
						        <%}%>
						    	<%}%>
						    <%}%> 
						    <td>
						    	<%= tec[reserve[j].tecnico_FK_id-3].name%>
						    </td>
						    <td>
						      <form action="/worktask_delete" method="post">
						        <input type="hidden" name="id" value="<%=reserve[j].id%>">
						        <input type="hidden" name="id" value="<%=reserve[j].slotsID%>">
						        <input type="hidden" name="hora" value="<%=date%>">
						        <button class="btn btn-xs" data-toggle="tooltip_delete" title="Remover" id="remove" type="submit"></button>		
						      </form>
						    	<form action="/worktask_reserve" method="post">
						      	<input type="hidden" name="id" value="<%=reserve[j].id%>">
						      	<input type="hidden" name="hora" value="<%=date%>">
						      	<input type="hidden" name="reserve" value="false">
						        <button class="btn btn-xs" data-toggle="tooltip_reserva" title="Reservar" id="reserve" type="submit"></button>
						      </form>
						    </td>
					    </tr>
					  <% } %>     
					</tbody>                               
				</table>
				</div>
			</div>			
		</div>
	</div>
</div>